.container {
    width: min(100%, 1440px);
    margin: auto;
    padding-top: 136px;







}

/* header */
header {
    max-width: inherit;
    width: inherit;
    position: fixed;
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #372D23;
    top: 0;
    left: 50%;
    transform: translateX(-50%);


}

.headerNavList {
    display: flex;
    gap: 48px;
}

.headerLink {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #FCC21B;




}

.headerLink:hover {
    color: blue;
    font-size: 26px;
    transition-duration: 0.5s;
    text-decoration: underline;
}

li:first-child .firstChild {
    color: #ED6C30;
}

.headerIcon {
    font-size: 30px;
    color: #FCC21B;


}

.headerIcon:hover {
    color: blue;
    transform: rotate(40deg);
    font-size: 38px;
    transition-duration: 0.5s;

}

/* section */

.mainSection {
    height: 640px;
    position: relative;
    z-index: -1;
}

.mainSectionImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainSectionArticle {
    position: absolute;
    border: 3px solid #FFFFFF;
    width: 762px;
    top: 50%;
    left: 50%;
    padding: 76px 40px;
    transform: translate(-50%, -50%);
    background-color: #FCC21B;
    border-radius: 10px;
    box-shadow: 10px 10px 4px 0px #00000080 inset;
    display: flex;
    justify-content: center;
    align-items: center;



}

.section1Title {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #FFFFFF;
    /* box-shadow: 6px 2px 4px 0px #372D23; */


}

/* section2 */

.Section2 {
    display: flex;
    column-gap: 100px;
    width: calc(1200 / 1440 * 100%);
    margin: 100px auto;
}


.section2Image {
    display: block;
}

.section2Article {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.section2Title {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;



}

.section2ArticlePharagraph {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #C65C14;


}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 80px;
    background-color: #372D23;
}

.footerLink {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FCC21B;


}

.footerSecondNav {
    display: flex;
    gap: 24px;
}


.footerNavIcon {
    font-size: 32px;
    color: #FCC21B;

}

.footerNavIcon:hover {
    color: blue;
    transform: rotate(40deg);
    font-size: 38px;
    transition-duration: 0.5s;

}

.footerLink:hover {
    color: red;
    transition-duration: 0.8s;
    font-size: 18px;

}